# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"
PUBLIC_DISCORD_CLIENT_ID=0
DISCORD_CLIENT_SECRET=x
DISCORD_BOT_TOKEN=x
DISCORD_BOT_GUILD=0
NYC_LIST_BASE_URL=https://api.example.com/list_
NYC_GAME_BASE_URL=https://api.example.com/game
NYC_COOKIES="x=a; y=b; z=c"